:root {
  --primary-color: #6366f1;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --danger-color: #ef4444;

  --text-primary: #1f2937;
  --radius: 0.35rem;
  --font: 1rem;
  --input-h: 2.5rem;

  /* MIN IDEL MAX */
  font-size: clamp(14px, 1.2vw, 20px);
  color-scheme: dark;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  --gap: 1rem;
  --py: 1.2rem;
  --head: 2.5rem;
  --foot: 2.5rem;
  --main-h: calc(
    100svh - var(--head) - var(--foot) - calc(var(--py) * 2) -
      calc(var(--gap) * 2)
  );

  background: linear-gradient(180deg, #071026 0%, #041223 70%);
  color: #a3a8ad;

  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: grid;
  margin: 0;

  grid-template-rows: var(--head) var(--main-h) var(--foot);
  gap: var(--gap);
  padding: var(--py) 2rem;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: transparent;
  backdrop-filter: blur(3px);
}

header .logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 250px;
  overflow: hidden;
}

.logo > img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main {
  position: relative;
  padding-right: 5px;
  max-height: var(--main-h);
  overflow-y: auto;
}

/* Chrome, Edge, Safari, Opera */
main::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

main::-webkit-scrollbar-track {
  background: #00213be1;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #00405ecb;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: #004e72ec;
}

/* Footer */
footer {
  backdrop-filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  padding: 5px;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
}
