.head h1,
.head h2,
.head h3,
.head h4,
.head h5,
.head h6 {
  padding: 0;
  margin: 0;
}

section {
  all: unset;
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  max-height: inherit;
}

section > .head {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 5px;
  background: transparent;
  backdrop-filter: blur(3px);
}

section > .head > h1 {
  background: linear-gradient(90deg, #0095c2 0%, rgb(255, 255, 255) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  width: 100%;
}

section > .body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-template-rows: auto 1fr;
  gap: 2rem;
  max-height: inherit;
}

/* ****************** Chard ******************** */
.card {
  background: #ffffff0a;
  backdrop-filter: blur(10px);
  border-radius: var(--radius);
  padding: 10px 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.card > .body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.card canvas {
  max-height: 300px;
}

/* .form-group {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.form-group label {
  flex: 0 0 30%;
  min-width: 100px;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
}
.form-group .input-group {
  flex: 1;
} */
