.form-group {
  position: relative;
  margin-top: clamp(1.5rem, 2.5vw, 30px);
}

.form-group label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  color: #cccccc8e;
  font-size: 1rem;
}

.form-group.focused label {
  top: -0.7rem;
  color: #cccccce1;
  font-weight: 500;
}

input,
textarea,
select {
  border: none;
  outline: none;
}

input {
  width: 100%;
  height: 35px;
  padding: 0 0.75rem;
  border: 1px solid #ffffff42;
  background: transparent;
  line-height: 2.5rem;
  font-size: clamp(0.75rem, 1.2vw, 0.9rem);
  color: #ffffffe3;
  font-weight: 200;
}
