.backdrop {
  position: fixed;
  display: grid;
  justify-items: center;
  align-content: start;
  padding-top: 10svh;
  padding-inline: 1rem;

  inset: 0;
  z-index: 1;
  overflow: hidden;

  background: #00000018;
  backdrop-filter: blur(3px);
}
.modal {
  /* padding: 1rem; */
  background: #021824;
  border-radius: var(--radius);
  border: 1px solid #ffffff33;
  max-height: calc(100svh - 10svh - 2rem);
  overflow-y: auto;
  width: 100%;
  animation: modalOpen 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal.lg {
  max-width: 64rem;
}
.modal.md {
  max-width: 42rem;
}

.modal.sm {
  max-width: 28rem;
}

.modal > .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 1rem;
}

.modal > .header > .modal-title {
  /* padding-left: 0.5rem; */
  padding-bottom: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.modal > .header h1,
.modal > .header h2,
.modal > .header h3,
.modal > .header h4,
.modal > .header h5,
.modal > .header h6 {
  margin: 0;
  padding: 0;
}

.modal > .body {
  padding: 1rem;
}
