.panel {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: inherit;
  height: 100%;
}

.panel > .head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.panel > .head .title {
  position: relative;
  background: linear-gradient(90deg, #0095c2 0%, rgb(255, 255, 255) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 100%;
}

.panel > .head > .subtitle {
  position: relative;
  color: #c2c2c2;
}

.panel > .head > .action-group > .btn-icon {
  color: #d4d4d4;
  transition: all 0.2s ease-in-out;
}
.panel > .head > .action-group > .btn-icon:focus,
.panel > .head > .action-group > .btn-icon:hover {
  color: #00ccff;
}

.panel > .head > .action-group > .btn-icon[fad="check-all"] {
  font-size: 1rem;
  font-weight: 200;
  gap: 5px;
}
.panel > .head > .action-group > .btn-icon[fad="check-all"] > span {
  background: #00a3ccc4;
  padding: 0 5px;
  border-radius: 7px;
  text-align: center;
}

.panel > .body {
  position: relative;
}
