/* PANEL
*  adalah sebuah container untuk elemen items
*
*/

.panel {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: inherit;
}

.panel > .head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.panel > .body {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  align-content: start;
  grid-auto-rows: minmax(180px, auto);
  gap: 1rem;
  --transition: 220ms cubic-bezier(0.2, 0.9, 0.2, 1);
  overflow-y: auto;
}

.panel > .body > :not(.item) {
  display: none;
}

/* ITEM */

.item {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  user-select: none;
  border-radius: var(--radius);
  background: #002845e6;
  background: -webkit-linear-gradient(
    180deg,
    #002845e6 0%,
    #003a513b 76%,
    #00678b1a 100%
  );
  background: -moz-linear-gradient(
    180deg,
    #002845e6 0%,
    #003a513b 76%,
    #00678b1a 100%
  );
  background: linear-gradient(
    180deg,
    #002845e6 0%,
    #003a513b 76%,
    #00678b1a 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002845E6", endColorstr="#00678B1A", GradientType=0);
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6);
  backdrop-filter: blur(3px);
  transition: transform var(--transition), box-shadow var(--transition);
}

.item:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(110, 255, 248, 0.13);
}

.item > .head {
  font-size: 1.25rem;
  background: #013f5cee;
  border-radius: var(--radius);
  padding: 2px 1rem;
  box-shadow: 0 6px 10px rgba(2, 6, 23, 0.6);
}

.item > .head > i.icon,
.item > .head > i.ph,
.item > .head > i.ph-fill,
.item > .head > i.fa {
  font-size: 2rem;
}

.item > .body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.item > .body > .title,
.item > .body > .desc {
  text-align: center;
}

.item > .body > .title {
  font-weight: 600;
  font-size: clamp(15px, 0.8vw, 1rem);
  margin-bottom: 0.5rem;
}
.item > .body > .desc {
  font-size: clamp(14px, 0.8vw, 1rem);
  /* font-size: 1rem; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
