.flex {
  display: inline-flex;
  gap: 5px;
}

.flex.gap-5 {
  gap: 5px;
}
.flex.gap-10 {
  gap: 10px;
}
.flex.gap-15 {
  gap: 15px;
}
.flex.gap-20 {
  gap: 20px;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}
h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left {
  text-align: left;
}
h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right {
  text-align: right;
}

.flex.left {
  justify-content: flex-start;
}

.flex.center {
  justify-content: center;
}

.flex.right {
  justify-content: flex-end;
}
